@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    min-width: 320px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto;
}